/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    grid: "header" auto "main" 1fr "footer" auto / 1fr;
    background-color: #C8E7FF;
    font-family: 'Montserrat', sans-serif;
}

header {
    grid-area: header;
    background-color: #78BAF0;
    padding: 1rem;
    border-bottom: 2px solid #4496E0;
}

.headerSuperior {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerSuperior>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.divLogo img {
    width: 2rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    text-align: center;
    font-size: 1rem;
}


p {
    font-size: 0.75rem;
}

nav {
    padding-top: 0.5rem;
}

ul {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;
}

ul li {
    display: flex;
    border-radius: 20px;
    padding: 0.25rem 0.75rem;
    transition: all 0.3s;
}

ul li:hover {
    background-color: #C8E7FF;
}

ul li a,
.iniciar {
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
}

.iniciar {
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.iniciar:hover {
    border-color: #C8E7FF;
}

footer {
    grid-area: footer;
    background-color: #78BAF0;
    padding: 1rem;
}

/* Home */
.main-home {
    width: 100%;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

span {
    font-weight: bolder;
}

.banner {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-image: url('../images/banner-argentina.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #4496E0;
    border-radius: 18px;
    box-shadow: 1.5px 1.5px 1.5px #4496E0;
    padding: 0.5rem;
}

.banner p {
    text-align: center;
    background-color: #5FC6FF;
    border-radius: 20px;
    font-size: 0.625rem;
    font-weight: bold;
    color: black;
    padding: 0.25rem 0.5rem;
}

/* Sección Partidos Camisetas Goles */

.partidos-camisetas-estadisticas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.partidos-camisetas-estadisticas>div {
    width: 100%;
}

.partidos-camisetas-estadisticas h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.partidos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pDescriptivo {
    text-align: center;
    margin-bottom: 1rem;
}

.divDosPartidos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divPartido {
    width: 48%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border: 1.5px solid #4496E0;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1.5px #4496E0;
    padding: 0.5rem 0.75rem;
}

.divPartido p:first-child {
    text-align: center;
    font-weight: bold;
}

.divPais {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.divPais img {
    width: 1rem;
}

.divFinal {
    width: 60%;
    margin: 0 auto;
}

/* Camisetas en Home */

.mainDetalle {
    grid-area: main;
}

.sectionCamisetasHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 2px solid #4496E0;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1.5px #4496E0;
    padding: 0.75rem;
}

.gridCamisetas {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.camisetaHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.camisetaHome img {
    width: 3rem;
}

.camisetaHome a {
    text-decoration: none;
    color: black;
}

.irPlantilla,
.divContactoHome div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.irPlantilla a,
.divContactoHome div a,
.main-404 ul li a, .divButtonForm button {
    background-color: #4496E0;
    box-shadow: 1.5px 1.5px 1.5px #5FC6FF;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.irPlantilla a:hover,
.divContactoHome div a:hover,
.main-404 ul li a:hover, .divButtonForm button:hover {
    background-color: #5FC6FF;
}

/* Goleadores */

.sectionGAA {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #4496E0;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 1.5px #4496E0;
    text-align: start;
    padding: 1rem;
}

.sectionGAA ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sectionGAA ul li {
    font-size: 0.75rem;
    padding: 0;
}

/* Contacto en Home */

.contacto-home {
    width: 100%;
}

.divContactoHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    border: 2px solid #4496E0;
    box-shadow: 1.5px 1.5px 1.5px #4496E0;
    border-radius: 20px;
    padding: 1rem;
}

/* Plantilla */
.sectionExplicación {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.5vw 0 2.5vw 0;
}

.sectionExplicación p {
    width: 50%;
    font-size: 1.5vw;
}

.sectionJugadores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1.5vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: max-content;
    padding-bottom: 0.5vw;
    margin: 2vw;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.card img {
    width: 16vw;
    border-bottom: 1px solid #5FC6FF;
    border-radius: 15px 15px 0px 0px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card p {
    width: 12vw;
    margin-top: 0.5vw;
}

/* Detalle */
.sectionDescripcion {
    display: flex;
    align-items: center;
    margin: 0 3vw;
}

.sectionDescripcion img {
    width: 20vw;
    border: 3px solid black;
    border-radius: 140px;
    box-shadow: 2px 2px 2px black;
}

.sectionDescripcion p {
    width: 30vw;
    font-size: 1.2vw;
    margin-left: 4vw;
}

.sectionCamiseta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -7vw 15vw 3vw 0;
}

.sectionCamiseta p {
    font-size: 1.4vw;
    width: 40%;
    text-align: center;
}

.sectionCamiseta img {
    width: 17vw;
}

/* Contacto */
.main-contacto {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.main-contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-contacto form p {
    text-align: center;
}


fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border: 1px solid #4496E0;
    border-radius: 12px;
    padding: 1rem;
}

legend {
    color: black;
    font-size: 1rem;
}

.sectionContacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.sectionContacto div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

form label {
    font-size: 0.75rem;
    font-weight: bold;
}

.sectionContacto input,
.sectionContacto select,
.divTextarea textarea {
    width: 100%;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.divTextarea textarea {
    resize: none;
}

.divTextarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.divButtonForm {
    display: flex;
    justify-content: end;
}

/* Gracias */
.main-gracias {
    grid-area: main;
    height: 65vh;
}

.main-gracias p {
    text-align: center;
    font-size: 1.5vw;
}

.divMessiSaludo {
    display: flex;
    justify-content: center;
    margin: 2vw 0;
}

.divMessiSaludo img {
    width: 15vw;
}

/* 404 */
.main-404 {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.main-404 p {
    text-align: center;
    font-size: 0.75rem;
}

.main-404 img {
    width: 15rem;
}

/* ADMIN */

/* Iniciar Sesion */
.inicar-sesion {
    padding: 2vw;
}

.inicar-sesion h1 {
    font-size: 2vw;
    margin-left: 0;
    margin-bottom: 1.5vw;
    text-align: center;
}

.form-fila {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

.form-fila input {
    width: 25%;
    height: 2vw;
    padding: 0 0.5vw;
}

.btn {
    background-color: #4496E0;
    box-shadow: 2px 2px 2px #78BAF0;
    border-radius: 20px;
    border: none;
    padding: 1vw 2vw;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #78BAF0;
}

.imgPlantilla {
    width: 5rem;
}